@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

blockquote {
	font: 50px Permanent Marker;
	height: fit-content;
	padding-left: 70px;
	padding-top: 18px;
	padding-bottom: 18px;
	padding-right: 10px;
	border-top: 2px solid #ccc;
	border-bottom: 2px solid #ccc;
	margin: 5px;
	text-align: center;
} 

.img1{
    width: 400px;
	display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100%;
}

header {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
  }
  
  .strokeme
  {
	font: 60px Bangers;  
	color: rgb(0, 0, 0);
	  text-shadow:
	  -3px -3px 0 #ffffff,
	  3px -3px 0 #ffffff,
	  -3px 3px 0 #ffffff,
	  3px 3px 0 #ffffff;
	  
  }